<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> 
</head>
<body>
    <p>You got a new notice!</p>
    <p>
    notice details<br>
    --------------------------
    </p>
    <p>Name: <%= @notice.subject %></p>
    <p>Email: <%= @notice.description %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>
        "This is new notice"
    </p>
</body>
</html>